In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
# Load the Data

basket = pd.read_csv (r'Ahmed Project\ML AHMED\groceries.csv')

basket.head()

,1,2,3,4,5,6,7,8,9
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN

In [5]:
basket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3090 entries, 0 to 3089
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       3090 non-null   object
 1   2       2423 non-null   object
 2   3       1896 non-null   object
 3   4       1504 non-null   object
 4   5       1176 non-null   object
 5   6       894 non-null    object
 6   7       697 non-null    object
 7   8       523 non-null    object
 8   9       390 non-null    object
dtypes: object(9)
memory usage: 217.4+ KB

In [6]:
basket.describe().T

  count unique            top freq
1  3090    133        sausage  235
2  2423    133     whole milk  192
3  1896    134     whole milk  179
4  1504    134     whole milk  103
5  1176    134     rolls/buns   62
6   894    117     rolls/buns   50
7   697    118           soda   36
8   523    107  bottled water   26
9   390    103  bottled water   25

In [39]:
# use encoding to se the data to be used for assoication 

basket = pd.get_dummies(basket)
basket.head()

,1_Instant food products,1_UHT-milk,1_artif. sweetener,1_baby cosmetics,1_bags,1_baking powder,1_bathroom cleaner,1_beef,1_berries,1_beverages,...,9_sweet spreads,9_tea,9_vinegar,9_waffles,9_whipped/sour cream,9_white bread,9_white wine,9_whole milk,9_yogurt,9_zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# use apriori and fix support to .03 to see how many itemsets are there with this condition.

apriori(basket, min_support=0.03)

     support itemsets
0   0.030421      (7)
1   0.034951     (17)
2   0.049191     (26)
3   0.064401     (47)
4   0.044660     (83)
5   0.040453     (92)
6   0.038835     (99)
7   0.033981    (100)
8   0.076052    (105)
9   0.044984    (123)
10  0.073463    (130)
11  0.058900    (217)
12  0.040129    (232)
13  0.036893    (233)
14  0.031068    (243)
15  0.034628    (256)
16  0.062136    (263)
17  0.045955    (351)
18  0.033010    (366)
19  0.057929    (397)
20  0.033333    (531)

In [23]:
# fix the name of these item sets 
apriori(basket, min_support=0.03, use_colnames=True)

     support              itemsets
0   0.030421              (1_beef)
1   0.034951       (1_canned beer)
2   0.049191      (1_citrus fruit)
3   0.064401       (1_frankfurter)
4   0.044660  (1_other vegetables)
5   0.040453              (1_pork)
6   0.038835        (1_rolls/buns)
7   0.033981   (1_root vegetables)
8   0.076052           (1_sausage)
9   0.044984    (1_tropical fruit)
10  0.073463        (1_whole milk)
11  0.058900  (2_other vegetables)
12  0.040129        (2_rolls/buns)
13  0.036893   (2_root vegetables)
14  0.031068              (2_soda)
15  0.034628    (2_tropical fruit)
16  0.062136        (2_whole milk)
17  0.045955  (3_other vegetables)
18  0.033010        (3_rolls/buns)
19  0.057929        (3_whole milk)
20  0.033333        (4_whole milk)

In [25]:
# use apirori to find the ietmsets with support of .003 and fix the number of these utemsets 

itemsets = apriori(basket, min_support=0.003, use_colnames=True)

itemsets['length'] = itemsets['itemsets'].apply(lambda x: len(x))
itemsets

      support                                           itemsets  length
0    0.006472                                       (1_UHT-milk)       1
1    0.030421                                           (1_beef)       1
2    0.011974                                        (1_berries)       1
3    0.008414                                      (1_beverages)       1
4    0.014887                                   (1_bottled beer)       1
..        ...                                                ...     ...
490  0.003236    (4_whole milk, 3_other vegetables, 2_pip fruit)       3
491  0.005825  (2_root vegetables, 4_whole milk, 3_other vege...       3
492  0.003560       (5_butter, 4_whole milk, 3_other vegetables)       3
493  0.003560       (4_whole milk, 3_other vegetables, 6_yogurt)       3
494  0.003236  (5_other vegetables, 6_whole milk, 4_root vege...       3

[495 rows x 3 columns]

In [51]:
itemsets['itemsets'].value_counts().sort_values(ascending=False).head(10)

(1_frankfurter, 4_other vegetables)    1
(2_hygiene articles)                   1
(2_pot plants)                         1
(2_other vegetables)                   1
(6_napkins)                            1
(3_specialty bar)                      1
(1_frankfurter, 2_rolls/buns)          1
(4_pastry)                             1
(2_pork, 1_frankfurter)                1
(4_fruit/vegetable juice)              1
Name: itemsets, dtype: int64

In [26]:
# filter by the itemsts with the length of 3 

itemsets[itemsets['length'] >= 3]

      support                                           itemsets  length
486  0.003236    (1_citrus fruit, 2_tropical fruit, 3_pip fruit)       3
487  0.003560  (3_whole milk, 2_other vegetables, 1_root vege...       3
488  0.003560         (4_curd, 3_whole milk, 2_other vegetables)       3
489  0.003883       (3_whole milk, 4_yogurt, 2_other vegetables)       3
490  0.003236    (4_whole milk, 3_other vegetables, 2_pip fruit)       3
491  0.005825  (2_root vegetables, 4_whole milk, 3_other vege...       3
492  0.003560       (5_butter, 4_whole milk, 3_other vegetables)       3
493  0.003560       (4_whole milk, 3_other vegetables, 6_yogurt)       3
494  0.003236  (5_other vegetables, 6_whole milk, 4_root vege...       3

In [31]:
# use the association rule to find items combination with the higest support

rule = association_rules(itemsets, metric="confidence", min_threshold=0.6)
rule.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(2_sausage),(1_frankfurter),0.011327,0.064401,0.011327,1.000000,15.527638,0.010597,inf
1,(2_ham),(1_sausage),0.007120,0.076052,0.004531,0.636364,8.367505,0.003989,2.540858
2,(2_meat),(1_sausage),0.006796,0.076052,0.004854,0.714286,9.392097,0.004338,3.233819
3,(3_curd),(2_whole milk),0.009709,0.062136,0.005825,0.600000,9.656250,0.005222,2.344660
4,(4_pip fruit),(3_tropical fruit),0.005825,0.014239,0.003560,0.611111,42.916667,0.003477,2.534813

In [32]:
# use the association rule to find items combination with the higest lift

rule = association_rules(itemsets, metric="lift", min_threshold=0.6)
rule.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1_beef),(2_citrus fruit),0.030421,0.028803,0.005502,0.180851,6.278986,0.004625,1.185618
1,(2_citrus fruit),(1_beef),0.028803,0.030421,0.005502,0.191011,6.278986,0.004625,1.198508
2,(1_beef),(2_other vegetables),0.030421,0.058900,0.003236,0.106383,1.806173,0.001444,1.053136
3,(2_other vegetables),(1_beef),0.058900,0.030421,0.003236,0.054945,1.806173,0.001444,1.025950
4,(2_root vegetables),(1_beef),0.036893,0.030421,0.005502,0.149123,4.902016,0.004379,1.139506

In [36]:
# filter the itemsets when lift is more tha 5 and confidence is more than 06
rule[(rule['lift'] >= 5) & (rule['confidence']>= 0.6)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
49,(2_sausage),(1_frankfurter),0.011327,0.064401,0.011327,1.000000,15.527638,0.010597,inf
108,(2_ham),(1_sausage),0.007120,0.076052,0.004531,0.636364,8.367505,0.003989,2.540858
110,(2_meat),(1_sausage),0.006796,0.076052,0.004854,0.714286,9.392097,0.004338,3.233819
252,(3_curd),(2_whole milk),0.009709,0.062136,0.005825,0.600000,9.656250,0.005222,2.344660
294,(4_pip fruit),(3_tropical fruit),0.005825,0.014239,0.003560,0.611111,42.916667,0.003477,2.534813
299,(4_butter),(3_whole milk),0.008414,0.057929,0.005825,0.692308,11.951010,0.005338,3.061731
300,(4_curd),(3_whole milk),0.013592,0.057929,0.008414,0.619048,10.686353,0.007627,2.472937
321,(5_whole milk),(4_other vegetables),0.014239,0.020712,0.009061,0.636364,30.724432,0.008767,2.693042
328,(5_butter),(4_whole milk),0.008414,0.033333,0.005825,0.692308,20.769231,0.005545,3.141667
331,(5_curd),(4_whole milk),0.005825,0.033333,0.003560,0.611111,18.333333,0.003366,2.485714
343,(6_whole milk),(5_other vegetables),0.009385,0.012621,0.007443,0.793103,62.838196,0.007325,4.772330
352,(7_whole milk),(6_other vegetables),0.004207,0.007120,0.003883,0.923077,129.650350,0.003854,12.907443
359,"(1_citrus fruit, 3_pip fruit)",(2_tropical fruit),0.003236,0.034628,0.003236,1.000000,28.878505,0.003124,inf
365,"(3_whole milk, 1_root vegetables)",(2_other vegetables),0.004207,0.058900,0.003560,0.846154,14.366019,0.003312,6.117152
371,"(4_curd, 2_other vegetables)",(3_whole milk),0.003883,0.057929,0.003560,0.916667,15.824022,0.003335,11.304854
378,"(4_yogurt, 2_other vegetables)",(3_whole milk),0.005502,0.057929,0.003883,0.705882,12.185343,0.003565,3.203042
383,"(4_whole milk, 2_pip fruit)",(3_other vegetables),0.004207,0.045955,0.003236,0.769231,16.738895,0.003043,4.134196
388,"(2_root vegetables, 4_whole milk)",(3_other vegetables),0.006149,0.045955,0.005825,0.947368,20.615271,0.005543,18.126861
394,"(5_butter, 4_whole milk)",(3_other vegetables),0.005825,0.045955,0.003560,0.611111,13.298122,0.003292,2.453259
395,"(5_butter, 3_other vegetables)",(4_whole milk),0.003560,0.033333,0.003560,1.000000,30.000000,0.003441,inf
401,"(4_whole milk, 6_yogurt)",(3_other vegetables),0.004854,0.045955,0.003560,0.733333,15.957746,0.003337,3.577670
402,"(3_other vegetables, 6_yogurt)",(4_whole milk),0.003560,0.033333,0.003560,1.000000,30.000000,0.003441,inf
407,"(5_other vegetables, 4_root vegetables)",(6_whole milk),0.005178,0.009385,0.003236,0.625000,66.594828,0.003188,2.641640
408,"(6_whole milk, 4_root vegetables)",(5_other vegetables),0.003883,0.012621,0.003236,0.833333,66.025641,0.003187,5.924272

In [37]:
rule[(rule['lift'] >= 5) & (rule['confidence']>= 0.6)].rank()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
49,1.0,1.0,22.0,22.0,24.0,22.5,9.0,24.0,22.5
108,22.0,21.5,17.0,23.5,15.0,7.5,1.0,15.0,6.0
110,21.0,21.5,16.0,23.5,16.0,12.0,2.0,16.0,12.0
252,20.0,20.0,21.0,21.0,18.5,1.0,3.0,17.0,1.0
294,19.0,19.0,13.0,5.0,8.5,3.0,20.0,12.0,5.0
299,18.0,17.5,18.5,17.5,18.5,9.5,5.0,18.0,9.0
300,17.0,17.5,23.0,17.5,22.0,5.0,4.0,22.0,3.0
321,16.0,16.0,24.0,6.0,23.0,7.5,19.0,23.0,8.0
328,15.0,14.5,18.5,8.5,18.5,9.5,15.0,20.0,10.0
331,14.0,14.5,13.0,8.5,8.5,3.0,13.0,9.0,4.0
343,13.0,13.0,20.0,3.5,21.0,15.0,21.0,21.0,15.0
352,12.0,12.0,7.0,1.0,13.5,19.0,24.0,14.0,19.0
359,11.0,11.0,1.0,11.0,2.5,22.5,16.0,2.0,22.5
365,10.0,10.0,7.0,20.0,8.5,17.0,8.0,6.0,17.0
371,9.0,8.5,4.5,17.5,8.5,18.0,10.0,7.0,18.0
378,8.0,8.5,11.0,17.5,13.5,11.0,6.0,13.0,11.0
383,7.0,6.0,7.0,13.5,2.5,14.0,12.0,1.0,14.0
388,6.0,6.0,15.0,13.5,18.5,20.0,14.0,19.0,20.0
394,5.0,6.0,13.0,13.5,8.5,3.0,7.0,5.0,2.0
395,4.0,4.0,2.5,8.5,8.5,22.5,17.5,10.5,22.5
401,3.0,3.0,9.0,13.5,8.5,13.0,11.0,8.0,13.0
402,2.0,2.0,2.5,8.5,8.5,22.5,17.5,10.5,22.5
407,23.0,23.0,10.0,2.0,2.5,6.0,23.0,4.0,7.0
408,24.0,24.0,4.5,3.5,2.5,16.0,22.0,3.0,16.0